
.fundoColorido {
    background-image: url(/Imagens/Desktop\ -\ 2.png);
    height: 9650px;
    width: 100%;
}

.logoTitulo {
    margin-top: 128px;
}

.logoPrincipal img {
    height: 130px;
    margin-left: 64px;
}

h1, p {
    font-family: 'Playfair Display', serif;
    color: #0B8AE6;
}

.tituloPrimeiro h1 {
    color: #0B8AE6;
    font-size: 80px;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    margin-left: 100px;
    
}

.restoTitulo  h1 {
    color: #0B8AE6;
    font-size: 80px;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    text-align: right;
    margin-left: 380px;
    margin-right: 150px;
    margin-top: 550px;
}

.ezin img {
    height: 140px;
    margin-left: 450px;
    margin-top: 450px;
}
.cabecalho {
    margin-top: 128px;
    height: 920px;
}

.centralCabecalho img {
    height: 400px;
    margin-left: 8px;
    margin-top: 16px;
}


.fotoFinalCaebecalho img {
    height: 400px;
    margin-left: 128px;
    margin-top: 526px;
}

.sessaoPrimeira {
    height: 330px;
}


.sessaoPrimeira h1 {
    color: #0B8AE6;
    font-size: 60px;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    margin-left: 64px;
}

.sessaoPrimeira p {
    color: #ffff;
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    font-weight: normal;
    margin-left: 64px;
}

.organizaIcon img {
    height: 300px;
}

.organizaIcon {
    display: flex;
    align-items: center;
    margin-left: 32px;
    margin-right: 64px;
}

.espacamentoSessoes {
    margin-top: 128px;
}

#carouselExampleDark {
    height: 400px;
    width: 950px;
    
}

.carousel-item {
    height: 400px;
}

.tituloCarossel h1 {
    font-weight: bold;
    font-size: 60px;
}

.sessaoSegunda {
    height: 560px;
}

.depoimento h2 {
    color: #0BE651;
    font-size: 50px;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    margin-left: 64px;
}

.depoimento p {
    color: #fff;
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    font-weight: normal;
    margin-left: 64px;
}

.imagemSessaoTerceira img {
    margin-left: 64px;
    height: 400px;
    margin-right: 32px;
}

.sessaoTerceira {
    height: 410px;
}

.contratos img {
    height: 120px;
    margin-left: 128px;
}

.pagamentos img {
    height: 120px;
    margin-left: 32px;
}

.agenda img {
    height: 120px;
    margin-left: 32px;
}

.financeiro img {
    height: 120px;
    
}